body {
 height: 100vh;
 margin: 0;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 z-index: 1;
}

#background-video {
 position: absolute;
 top: 50%;
 left: 50%;
 width: 100%;
 height: 100%;
 object-fit: cover;
 transform: translate(-50%, -50%);
 z-index: -1;
}

.login-area {
 display: flex;
 flex-direction: column;
 align-items: center;
 z-index: 2;
}

.login-form-area {
 width: 31.25rem;
 padding: 2.5rem;
 border-radius: 0.625rem;
 box-shadow: 0.3125rem 0.3125rem 0.625rem #ffffff82;
 background-color: #ffffff54;
 text-align: center;
}

.heading {
 margin-bottom: 1rem;
 color: rgba(255, 255, 255, 0.722);
 font-size: 5rem;
 font-weight: bold;
stroke: black;
}
.login-text{
 color: azure;
 font-size: 2.0rem;
 font-weight: 500;
}


/* mobile responsive code  */
@media (max-width: 480px) {
 .login-form-area {
  padding: .625rem;
 }

 h1 {
  font-size: 1.25rem;
 }

 h4 {
  font-size: 1rem;
 }

 input,
 button {
  font-size: 0.875rem;
 }
}